html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #c0c0c0;
}

hr{
    border-top: 1px solid #C5BBBB;
}
.content {
    width: 75%;
    margin: auto;
    padding: 20px;
    background: #FFFCE3;
    min-height: 850px;
    margin-top: 24px;
    margin-bottom: 24px;
}

footer {
    height: 30px;
    margin-top: 20px;
    background: #FFFCE3;
}

a{
    color: #008;
}
a:link {
    color: black;
}

form{
    width: 60%;
}

.navbar-default{
    margin-top: 5px;
    background: #FFFCE3;
}

.nav-tabs{
    margin-left: 35%; 
}
