html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: dimgrey;
}

header {
    height: 200px;
    margin-bottom: 20px;
    background: dimgray;
}
hr{
    border-top: 1px solid #C5BBBB;
}
.content {
    width: 75%;
    margin: auto;
    padding: 20px;
    background: #FFFCE3;
    min-height: 850px;
    margin-top: 24px;
    margin-bottom: 24px;
}

footer {
    height: 30px;
    margin-top: 20px;
    background: khaki;
}

a:link {
    color: black;
}

form{
    width: 60%;
}
